.words-container {
    margin: 100px 20px;
}

.actions {
    display: flex;
    gap: 20px;
}

.actions .delete{
    color: rgb(224, 93, 41);
}

.actions .delete:hover {
    cursor: pointer;
    color: rgb(221, 30, 30);
    text-decoration: underline;
}


.words-container .search {
    position: relative;
    display: flex;
}
  
.words-container .search-box {
    width: 100%;
    border: 3px solid #00B4CC;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    color: var(--bs-primary);
}
.words-container .wrap{
    min-width: 300px;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}