.wrapper .otp-clicked:hover {
    color: var(--primary);
    cursor: pointer;
}

.forgot-password .wrapper {
    min-height: 120vh;
}

.forgot-password {
    width: 400px;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px 30px ;
    
}

.forgot-password .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.forgot-password .submit-btn {
    display: flex;
    width: 100%;
    justify-content: center;
}

.submit-btn button {
    width: 30%;
    height: 40px;
    border-radius: 10px;
}

.forgot-password h1 {
    justify-self: center;
}

.forgot-password .error {
    margin-top: 12px;
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 12px;
}

.forgot-password .resend-otp {
    font-size: 0.95rem;
    text-align: center;
    margin-top: 20px;
}

.resend-otp .resend-btn {
    color: var(--primary);
}

.resend-otp .resend-btn:hover {
    cursor: pointer;
    text-decoration: underline;
}